<tr>
  <td><%= product_type.id %></td>
  <td><%= product_type.name %></td>
  <th>
 <td class="edit">
  <%= link_to t("admin.product_type.edit"),edit_admin_product_type_path(product_type),
    class: "warning" %>
    </td>

 <td class="delete">
  <%= link_to t("admin.product_type.delete"),admin_product_type_path(product_type),
    method: :delete, data: {confirm: t("admin.confirm_delete")},
    class: "danger" %>
    </td>
    </th>
    
</tr>
