<% provide :title, t("admin.product_type.edit_product_type") %>
<% provide :submit, t("admin.product_type.save") %>

<h1><%= t "admin.product_type.edit_product_type" %></h1>
<br />
<br />
<%= render "form" %>
