<% provide :title, t("admin.product_color.edit_product_color") %>
<% provide :submit, t("admin.product_color.save") %>

<h1><%= t "admin.product_color.edit_product_color" %></h1>

<%= render "form" %>
