<div class="cart-items">
  <div class="container">
    <div class="clearfix"></div>

    <h2>Ordered Item List</h2>
    <%= render @cart_items %>
  </div>
  <div class="text-center">
    <% if @cart.init? %>
      <%= link_to checkout_path(@cart), class: "btn btn-primary" do %>
        <h4>Checkout <i class="glyphicon glyphicon-shopping-cart"></i></h4>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>
