<tr>
  <td><%= city.id %></td>
  <td><%= city.name %></td>
  <td class="edit">
      <%= link_to t("admin.city.edit"), edit_admin_city_path(city),
    class: "warning" %></td>
  <td class="delete">
      <%= link_to t("admin.city.delete"), admin_city_path(city),
    method: :delete, data: {confirm: t("admin.confirm_delete")},
    class: "danger" %></td>
</tr>
